.nbl-plus-article {
  display: flex;
  margin-top: 32px !important;

  &.inner {
    margin: 0;
    article.nbl-plus-article-container {
      margin: 0;
    }
  }

  article.nbl-plus-article-container {
    max-width: 760px;
    margin-left: 80px;
    
    position: relative;

    @media only screen and (max-width: 1080px) {
      margin: 0 auto;
    }

    > *:first-child {
      margin-top: 0;
    }

    h2 {
      margin-top: 1.5em;
      margin-bottom: 1em;
    }

    ol, ul {
      margin: 1em auto;
    
      li {
        margin-left: 2em;
      }
    }
    
    ol {
      > li {
        list-style:decimal;
      }
    }

    ul {
      > li {
        list-style: disc;
      }
    }

    p {
      margin-top: 0.5em;
    }

    figure {
      margin: 2em 0;
    }

    strong {
      font-weight: bold;
    }

    blockquote {
      margin: 2em 0;
      border-left: 3px solid rgba(black, 1);
      padding-left: 1em;
      font-family: var(--font-family-system);

      p {
        font-size: calc(var(--font-size) * 0.9);
      }
    }
  }
}