.article-el-tips {
  background-color: rgba(black, 0.04);
  color: var(--text-color-secondary-trans);
  padding: var(--content-h-padding);
  margin: 2em 0;

  .article-el-tips-title {
    padding: 0;
    margin-top: 0;
  }

  p, li {
    font-size: calc(var(--font-size) * 0.9);
  }
}