.book-card {
  display: block;
  .book-card-cover {
    position: relative;

    .audioTag {
      position: absolute;
      z-index: 1;
      background-color: var(--b-color);
      color: white;
      font-size: 14px;
      padding: 4px 8px;
      box-shadow: 0 2px 4px rgba(black, 0.24);

      top: 12px;
      right: -6px;
    }
  }

  .book-card-info {
    margin-top: 8px;

    .book-card-title {
      font-family: var(--font-family-article);
      font-weight: bold;
    }

    .book-card-authors-bar {
      margin-top: 4px;
      font-size: 14px;
      color: var(--text-color-secondary-trans);

      .book-card-author {
        display: inline;

        &:not(:first-of-type) {
          &::before {
            content: ", "
          }
        }
      }
    }
  }
}