.big-art-info-layout {
  --font-size: 16px !important;
  // padding-left: calc(var(--content-h-padding));
  // padding-right: calc(var(--content-h-padding));
  // padding-top: calc(var(--content-v-padding) * 0.7);
  // padding-bottom: calc(var(--content-v-padding) * 0.7);

  .big-art-info-layout-container {
    position: relative;
    width: 100%;
    height: var(--big-art-info-layout-container-height);

    display: grid;
    --big-art-info-content-width: 560px;
    grid-template-columns: var(--big-art-info-content-width) auto;


    @media only screen and (max-width: 1000px) {
      
      display: block !important;
      grid-template-columns: 100%;

      --big-art-info-content-width: 100%;

      
      margin: 0 auto;
      
      .left {
        .big-art-info-article {
          max-width: 720px;
          margin: 0 auto;
        }
      }

      .right {
        display: none;
      }
      
    }

    .left {
      padding-top: var(--nav-height);
      
      
      max-width: var(--big-art-info-content-width);
      .big-art-info-article {
        
        padding-left: calc(var(--content-h-padding));
        padding-right: calc(var(--content-h-padding));
        // padding-top: calc(var(--content-v-padding) * 0.7);
        padding-bottom: 0;
        

        .big-art-info-title {
          border-bottom: 1px solid rgba(black, 0.08);
          padding-bottom: 0.5em;
        }

        .big-art-inline {
          @media only screen and (min-width: 1001px) {
            display: none;
          }

          margin: calc(var(--content-v-padding) * 0.5) 0;

          .big-art-container {
            .big-art {
              position: relative;
              width: 100%;
              padding-top: 100%;
              background-color: rgba(black, 0.04);
              border: 1px dashed rgba(black, 0.08);
              border-radius: 4px;
              img {
                padding: 16px;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                object-fit: contain;
              }
            }
          }
        }

        .big-art-info-table {
          font-size: 14px;
          margin-top: 2em;
          
          padding: 8px 16px;
          border-radius: 4px;
          background-color: rgba(black, 0.04);
          border: 1px dashed rgba(black, 0.08);
          color: var(--text-color-secondary-hex);

          .tr {
            display: flex;
            justify-content: flex-start;

            .th {
              width: 120px;
              border-right: 1px solid rgba(black, 0.04);
              margin-right: 16px;
              padding: 4px 0;

              color: var(--text-color-negative-trans);
              
              font-weight: bold;
            }

            .td {
              padding: 4px 0;
            }
          }
        }

        .introduction {
          h2 {
            padding-bottom: .5em;
            border-bottom: 1px solid rgba(black, 0.08);
          }

          .related-story {
            display: block;
            margin: 1em auto;


            &:not(:last-of-type) {
              border-bottom: 1px solid rgba(black, 0.08);
            }
            padding-bottom: 1em;

            .related-story-container {
              display: flex;
              gap: 16px;

              .related-story-info {
                position: relative;

                .related-story-title-bar {
                  .related-story-title {
                    font-size: 16px;
                    font-weight: bold;
                  }

                  .related-story-brief {
                    font-size: 14px;
                    margin-top: 8px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                  }
                }

                .related-story-authors {
                  margin-top: 12px;
                  font-size: 14px;

                  // position: absolute; left: 0; bottom: 0;

                  .related-story-author {
                    margin-right: 8px;
                    .role {
                      color: var(--text-color-secondary-hex);
                      margin-right: 4px;
                    }

                    .name {
                      font-weight: bold;
                    }
                  }
                }
              }

              .related-story-cover {
                position: relative;
                width: 120px;
                height: 80px;
                flex-shrink: 0;
                .img {
                  position: absolute;
                  width: 100%; height: 100%; object-fit: cover;
                  top: 0; left: 0;
                }
              }
            }
          }
        }
      }
    }

    .right {
      padding-top: var(--nav-height);
      box-shadow: -1px 0 0 rgba(black, 0.08);
      position: fixed;
      width: calc(100% - var(--big-art-info-content-width));
      height: 100%;
      right: 0;
      bottom: 0;
      

      .big-art-container {
        // background-color: black;
        position: relative;
        width: 100%;
        height: 100%;
        padding: calc(var(--content-h-padding) * 0.5);
        display: flex;
        justify-content: center;


        .big-art {
          position: relative;
          width: 100%;
          height: 100%;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        .btns {
          margin-top: 16px;
          display: flex;
          justify-content: center;
          .btn {
            display: block;
            width: 160px;
            text-align: center;
            padding: 8px 12px;
            border-radius: 8px;

            transition: opacity 0.3s;
            &:hover {
              opacity: 0.8;
            }

            &.positive {
              background-color: var(--b-color);
              color: white;
            }
          }
        }
      }
    }
  }
}