
:root {
  --site-roof-height: 64px;
  --nav-height: 48px;

  --big-section-width: 1400px;

  --content-h-padding: 48px;
  @media only screen and (max-width: 800px) {
    --content-h-padding: 32px;
  }
  @media only screen and (max-width: 400px) {
    --content-h-padding: 24px;
  }

  --content-v-padding: 80px;
  @media only screen and (max-width: 800px) {
    --content-v-padding: 32px;
  }
  @media only screen and (max-width: 400px) {
    --content-v-padding: 24px;
  }

  // colors
  // ====================================
  --b-color: rgba(219, 44, 53, 0.905);
  --b-color-bg-trans: rgba(235, 62, 72, 0.08);
  --b-color-highlight-trans: rgba(235, 62, 72, 0.16);

  --color-yellow: rgb(253, 221, 81);

  --text-color-main-hex: #292929;
  --text-color-main-trans: rgba(0, 0, 0, 0.84);
  
  --text-color-secondary-hex: #858585;
  --text-color-secondary-trans: rgba(0, 0, 0, 0.48);
  --text-color-negative-trans: rgba(0, 0, 0, 0.24);

  --stroke-color-main-trans: rgba(0, 0, 0, 0.08);

  // z-indices，即元素的層數高度
  // ====================================
  --z-index-nav: 10000;

}

// fonts
// ====================================

