:root {
  --font-size: 19px;
}


@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&display=swap');

:root {
  --font-family-system: inter, -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";

  --font-family-article: "Noto Serif TC", "Songti SC", "SimSun", "MingLiU", "PMingLiU", "Noto Serif CJK TC", serif;

  .font-system {
    font-family: var(--font-family-system);
  }

  .font-article {
    font-family: var(--font-family-article);
  }
}


// 導入 material design icons
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&display=swap');
.material-symbols-outlined {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 40;
}



// 規定系統字體
html {
  font-family: var(--font-family-system);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // 这个用于改变字体大小
  --book-font-size: 18px;
}

body {
  color: var(--text-color-main-trans);
  line-height: 1.5;
  letter-spacing: 0.05em;
}

@mixin font-size($factor) {
  font-size: calc(var(--font-size) * $factor);

  @media only screen and (max-width: 1200px) {
    font-size: calc(var(--font-size) * $factor * 0.9);
  }

  @media only screen and (max-width: 800px) {
    font-size: calc(var(--font-size) * $factor * 0.88);
  }
}

p, .p {
  @include font-size(1);

  line-height: 1.75;
  // margin-top: var(--p-spaceing);

  &.caption {
    @include font-size(0.9);

    line-height: 1.75;
    // margin-top: var(--p-spaceing);
  }

  &.small {
    @include font-size(0.8);
  }
}

figure {
  @include font-size(1);
  img {
    width: 100%;
  }

  figcaption {
    font-size: calc(var(--font-size) * 0.8);
    margin-top: 1em;
    color: var(--text-color-secondary-trans);
    text-align: center;
  }
}

h1, .h1 {
  @include font-size(1.8);
  margin-top: 1.5em;
  // font-size: calc(var(--font-size) * 1.8);
  font-weight: bold;
}

h2, .h2 {
  margin-top: 1.5em;
  font-size: calc(var(--font-size) * 1.25);
  font-weight: bold;
}

h3, .h3 {
  margin-top: 1.5em;
  font-size: calc(var(--font-size) * 1.125);
  font-weight: bold;
}